.login--container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login--container--element{
    border: 0.1rem solid black;
    border-radius: 10px;
    width: 40%;
}

.login--container--element div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.1rem solid black;
}

input{
    border: 0.1rem solid black;
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
}